@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap");

/* 
font-family: "Poiret One", sans-serif;
font-family: "Montserrat", sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  background-color: #272a37;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

body {
  --sb-track-color: #272a37;
  --sb-thumb-color: #40a6ff;
  --sb-size: 5px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
